@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/dm-serif-display/400.css";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-serifDisplay: "DM Serif Display", serif;

  --color-charcoal: #36454f;
  --color-pureWhite: #ffffff;
  --color-offWhite: #f5f5f5;
  --color-softGold: #d4af37;
  --color-lightTeal: #a0ded2;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--color-offWhite);
  color: var(--color-charcoal);
}
